<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="Unidad" value="C:\"/>
      <add key="UnidadMapeo" value="Z:"/>
      <add key="Linea" value="U"/>
	  <add key="Modalidad" value="AC"/>
	  <add key="rutaAD" value="OU=PadresFamiliaMON,OU=Monterrico,OU=Usuarios,DC=upc,DC=edu,DC=pe"/>
	  <add key="from" value="SOCRATES@upc.edu.pe"/>
		<!-- CSC-00261926-00 JDELACRU -->
		<!--<add key="Destinatario1" value="renzo.bogovich@upc.edu.pe"/>-->
		<!-- <add key="Destinatario2" value="renzo150@hotmail.com"/>-->
		<add key="Destinatario1" value="soacadti@upc.edu.pe"/>
		<add key="Destinatario2" value="DS-ARQUITECTOS-CTAS@upc.edu.pe"/>
		<!-- CSC-00261926-00 JDELACRU -->
	</appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

	<system.net>
		<mailSettings>
			<smtp from="SOCRATES@upc.edu.pe">
				<!-- CSC-00261926-00 JDELACRU -->
				<!-- <network host="upcmail1.upc.edu.pe" port="25" userName="rbogovich" password="temporal1" defaultCredentials="true" /> -->
				<network host="svrmail01mo.upc.edu.pe" port="25" userName="usrprdpadfam" password="universidad2013" defaultCredentials="true" />
				<!-- CSC-00261926-00 JDELACRU -->
			</smtp>
		</mailSettings>
	</system.net>

</configuration>
